body {
    text-align: center;
    margin: 0px;
}
.profile {
border-radius: 50%;    
}
#welcome {
    background:linear-gradient(#1dcf49 0%,#15b8d1 50%,#de0d91 100%);
    width: 100%;
    height:100%;
    padding-top: 100px;
}
#bio {
    background:linear-gradient(#de0d91 0%,#15b8d1 50%,#1dcf49 100%);
    padding-top: 300px;
    padding-bottom: 300px;
    padding-right: 200px;
    padding-left:200px;
}
hr {
    height: 8px;
    background-color: black;
}
h1 {
    font-size: xx-large;
    font-family:serif;
}
.menu {
    list-style: none;
    position: fixed;
    right: 30px;
    z-index: 10;
    cursor:pointer;
    
}
.links {
    float: left;
    padding-left: 9px;
    padding: right 9px;
    display:inline;
    padding-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}